<section>
 <h1 class="fs-1"> Recorridos</h1>

  <p class="text-muted mb-0"> (4 domicilios) </p>
  <table class="table table-striped border border-3">
    <caption class= "h-6 lh-1">*Las categirías del volumen de materiales se rigen de menor a mayor siendo: <br> a) entra en una caja <br>b) entra en el baúl de un auto <br> c) entra en la caja de una camioneta <br> d) es necesario un camión.</caption>
    <thead class="ml-2 bg-success">
      <td >Domicilio</td>
       <td >Volumen</td>
       <td >Horario</td>
    </thead>
    <tbody>
      <tr>
       <td>Saavedra 1452</td>
       <td>A</td>
       <td>9 a 12hs</td>
      </tr>
      <tr>
          
          <td colspan="3">
            <table class="table mb-0">
              <tr>
                <td>Saavedra 1453</td>
                <td>B</td>
                <td>9 a 12hs</td>
              </tr>
              <tr>
              <td colspan="3">
                <div class="row align-bottom">
                <div class="col">
                  <img  src="../images/materiales/no-image.png" alt="">
                </div>
              <div class="col">
                <p>Fecha</p>
                <p>Nombre y Apellido</p>
                <p>Telefono</p>
              </div></td>
            </tr>
            </table>
            </td>
        
           
        </div>
       </tr>
       <tr>
        <td>Saavedra 1455</td>
        <td>B</td>
        <td>9 a 12hs</td>
       </tr>
       <tr>
        <td>Saavedra 1455</td>
        <td>C</td>
        <td>13 a 17hs</td>
       </tr>
  </table>
  
</section>