<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <section>
        <h1 class="fs-1">Materiales recolectados</h1>
        <h2 class="h5">Guillermo Martinez</h2>
      
        <div class="card mb-2">
          <div class="card-header">
            Nuevo material
          </div>
          <div class="card-body">
            
            <div class="form-group mb-2">
              <label for= "selectUsuario">Material ingresado</label>
              <select class="form-select form-select-sm" aria-label=".form-control-sm example" id= "selectUsuario">
                <option></option>
              </select>
            </div>
      
            <div class="form-group mb-2">
              <label>Peso</label>
              <input type="text" class="form-control form-control-sm">
            </div>
      
            <div class="d-flex justify-content-end">
              <button type="button" class="btn btn-outline-primary">Add</button>
            </div>
          </div>
        </div>
      
        <h2 class="h5">Materiales Cargados</h2>
      
          <div class="card border border-1 mb-2">
            <div class="card-body">
              <blockquote class="blockquote mb-0 d-flex justify-content-between">
                <div>
                  <h3 class="h6">Plástico (2kg)</h3>
                </div>
                <a  class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                  </svg>
                </a>
              </blockquote>
            </div>
          </div>
          <div class="card border border-1 mb-2">
            <div class="card-body">
              <blockquote class="blockquote mb-0 d-flex justify-content-between">
                <div>
                  <h3 class="h6">Tapitas (5kg)</h3>
                </div>
                <a  class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="black" class="bi bi-trash-fill" viewBox="0 0 16 16">
                    <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                  </svg>
                </a>
              </blockquote>
            </div>
          </div>
          
          <div class="d-grid gap-2">
            <button class="btn btn-primary btn-block w-100 py-2 text-uppercase">Enviar</button>
            <button class="btn btn-link btn-block w-100 py-2 text-uppercase">Cancelar</button>
          </div>
        </form>
      
      </section>

</body>
</html>